<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Welcome to Brandon Russell's Assignment 11 web site!</title>
</head>
<body>
	<h1>Welcome to Brandon Russell's Assignment 11 web site!</h1>
	<div class="form">
		<p>Login to Existing Account</p>
		<form action="" method="get">
			<div class="form-item">
				<label for="l-username">Username</label>
				<input type="text" name="l-username" id="l-username" />
			</div>
			<div class="form-item">
				<label for="l-password">Password</label>
				<input type="password" name="l-password" id="l-password" />
			</div>
			<div class="form-item">
				<button type="submit">Login</button>
			</div>
		</form>
	</div>
	<div class="form">
		<p>Register Account</p>
		<form action="" method="get">
			<div class="form-item">
				<label for="r-username">Username</label>
				<input type="text" name="r-username" id="r-username" />
			</div>
			<div class="form-item">
				<label for="r-password">Password</label>
				<input type="password" name="r-password" id="r-password" />
			</div>
			<div class="form-item">
				<button type="submit">Register</button>
			</div>
		</form>
	</div>
</body>
</html>
